<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
    {% stylesheets
        'bundles/szachujeweb/css/bootstrap_grid.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<h1 id="logo" class="hidden-xs"><img src="{{ asset('bundles/szachujeweb/img/logo.png') }}" alt=""/></h1>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
